* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

html {
  overflow-y: scroll;
  font-family: "Roboto", sans-serif;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 500px;
  background-color: rgb(22, 132, 206);
  border-radius: 0 0 50% 50% / 0 0 100% 100%;
  transform: scaleX(1.2);
}

.header-display-lancamentos {
  display: flex;
  gap: 20px;
  min-height: 120px;
  margin-top: 20px;
}

.item-lancamentos {
  width: 160px;
  height: 160px;
  border: 5px solid white;
  border-radius: 50%;
}

.item-lancamentos > img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  cursor: pointer;
}

.header-container {
  display: flex;
  justify-content: center;
  align-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  padding: 15px;
  width: 50%;
  min-height: 200px;
}

.header-container > #img-curva {
  background: url("../img/curve.svg") no-repeat center;
  background-size: contain;
  height: 90px;
  flex-basis: 100%;
}

.container-busca {
  flex-basis: 50%;
  min-height: 45px;
  display: flex;
  align-items: center;
  padding: 0px 5px;
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
}

.container-busca > #input-pesquisa {
  width: 100%;
  outline: 0;
  border: 0;
}

.container-busca > #button-buscar,
.container-busca > #button-cancelar,
.header-container > #btn-open-modal-adicionar {
  border: none;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
}

.container-busca > #button-buscar {
  width: 32px;
  height: 32px;
}

.container-busca > #button-buscar:hover {
  transform: scale(1.2);
  transition: 0.4s;
}

.container-busca #button-cancelar {
  display: none;
  width: 20px;
  height: 20px;
}

.header-container > #btn-open-modal-adicionar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  padding: 5px;
  margin-left: 20px;
}

.container-busca #button-cancelar > img,
.container-busca > #button-buscar > img,
.header-container > #btn-open-modal-adicionar > img {
  width: 100%;
  height: 100%;
}

.header-container > #btn-open-modal-adicionar:hover {
  transform: scale(1.1);
  transition: 0.2s;
}

.container-veiculos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 20px;
  gap: 30px;
}

.item-veiculo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.item-veiculo > img {
  width: 250px;
  height: 250px;
  border: 5px solid rgb(22, 132, 206);
  border-radius: 50%;
  object-fit: cover;
}

.info-veiculo {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-width: 500px;
  height: 250px;
  color: rgb(22, 132, 206);
  font-weight: 600;
  font-size: 20px;
}

.container-veiculos > .item-veiculo:not(:last-child) > .info-veiculo {
  border-bottom: 5px solid rgb(22, 132, 206);
}

.info-veiculo > button {
  align-self: center;
  opacity: 0;
  border: none;
  max-width: 100px;
  padding: 15px;
  border-radius: 20px;
  color: white;
  background-color: rgb(22, 132, 206);
  cursor: pointer;
  transition: 1s;
}

.item-veiculo:hover .info-veiculo > button {
  opacity: 1;
}

/*Modal*/
.modal.open {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal.remove {
  display: none;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
}

.modal-content {
  overflow: visible;
  display: flex;
  flex-direction: column;
  width: 700px;
  background-color: transparent;
  color: white;
}

.close-button {
  background: url("../img/exit.png") no-repeat;
  align-self: flex-end;
  position: absolute;
  top: -15px;
  right: 5px;
  width: 40px;
  height: 40px;
  padding: 5px;
  background-position: center;
  margin-right: -20px;
  border-radius: 50%;
  border: 2px solid rgb(22, 132, 206);
  background-color: rgb(255, 255, 255);
  z-index: 100;
  cursor: pointer;
}

.upload-imagens {
  overflow: visible;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-height: 300px;
  border-radius: 20px 20px 0px 0px;
  background-color: white;
}

.content-upload-imagens {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 300px;
  padding: 5px;
  color: rgb(22, 132, 206);
}

.content-upload-imagens > input[type="file"] {
  display: none;
}

.content-upload-imagens > button {
  width: 140px;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 50px;
  background: rgb(22, 132, 206);
  color: white;
}

.content-upload-imagens > button:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

.content-upload-imagens > .msg-info > p {
  font-size: 13px;
}

/*Slider*/
.slider-outer {
  overflow: visible;
  display: flex;
  width: 100%;
  height: 300px;
}

.slider-inner {
  position: relative;
  width: 100%;
  height: 100%;
  float: left;
  margin: auto;
}

.slider-inner img {
  display: none;
  width: 100%;
  height: 100%;
  border-radius: 20px 20px 0px 0px;
  object-fit: fill;
}

.slider-inner img.active {
  display: inline-block;
}

#prevBtn,
#nextBtn {
  opacity: 0;
  position: absolute;
  align-self: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgb(22, 132, 206);
  cursor: pointer;
  z-index: 100;
  transition: 0.5s;
}

.slider-outer:hover #prevBtn,
.slider-outer:hover #nextBtn {
  opacity: 1;
}

#prevBtn {
  left: 0;
}

#nextBtn {
  right: 0;
}

.content-adicionar {
  display: flex;
  flex-direction: column;
  max-height: 410px;
  gap: 5px;
  padding: 10px 20px;
  border-radius: 0px 0px 20px 20px;
  background-color: rgb(22, 132, 206);
  overflow: visible;
}

.content-adicionar > .item {
  margin: 5px 0px;
}

.content-adicionar > .item,
.content-adicionar > .item > .row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-basis: 50%;
}

.content-adicionar > .item > label,
.item > .row > label {
  flex-basis: 90px;
}

.content-adicionar > .item > input,
.item > .row > input {
  flex-grow: 1;
  height: 25px;
  margin: 10px;
  padding: 0px 5px;
  border: none;
  border-radius: 20px;
  color: rgb(22, 132, 206);
  outline: none;
}

.content-adicionar > .item > .content-error-message,
.item > .row > .content-error-message {
  display: flex;
  justify-content: center;
  flex-basis: 100%;
}

.content-error-message > [class*="lbl-error-"] {
  position: absolute;
  display: none;
  margin-top: -5px;
  width: 300px;
  opacity: 0.9;
  color: red;
  font-size: 12px;
  font-weight: 600;
}

.content-error-message > [class*="lbl-error-"].active {
  display: block;
}

.content-adicionar > .item:nth-child(3) > :nth-child(1) > label {
  flex-basis: 150px;
}

.content-adicionar > .item:nth-child(3) > :nth-child(1) > input {
  flex-basis: 30px;
}

.content-adicionar > .item > textarea {
  overflow-y: visible;
  resize: none;
  margin: 10px;
  width: 380px;
  min-height: 100px;
  padding: 5px;
  border-radius: 20px;
  color: rgb(22, 132, 206);
  outline: none;
}

.content-adicionar > .item > input.input-error,
.content-adicionar > .item > textarea.input-error,
.item > .row > input.input-error {
  border: 2px solid rgba(255, 0, 0, 0.8);
}

.content-adicionar-footer {
  position: relative;
  display: flex;
  flex-basis: 100%;
  overflow: visible;
}

#modal-btn-salvar {
  position: absolute;
  top: -50px;
  right: -30px;
  width: 65px;
  height: 65px;
  border: none;
  border-radius: 50%;
  font-weight: 900;
  background-color: #fff;
  color: rgb(22, 132, 206);
  cursor: pointer;
}

.container-paginacao {
  display: flex;
  min-width: 250px;
  justify-content: center;
  margin: 30px 0px;
}

.container-paginacao > label {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(22, 132, 206);
  font-size: 25px;
  cursor: pointer;
  width: 60px;
  height: 60px;
  margin: 0px 10px;
  border: 3px solid rgb(22, 132, 206);
  border-radius: 50%;
  transition: 0.5s;
}

.container-paginacao > label:hover {
  color: #fff;
  background-color: rgb(22, 132, 206);
  border: none;
}

.container-paginacao > label.active {
  color: #fff;
  background-color: rgb(22, 132, 206);
  border: none;
}

@media (max-width: 1366px) {
  header {
    height: 350px;
  }

  .item-lancamentos {
    width: 120px;
    height: 120px;
  }

  .item-veiculo > img {
    width: 220px;
    height: 220px;
  }

  .modal-content {
    /* margin-top: 15px; */
    width: 640px;
  }

  .slider-outer {
    height: 205px;
  }

  .content-upload-imagens {
    height: 200px;
  }

  .content-adicionar {
    padding: 10px 10px 0px 10px;
  }
}

@media (max-width: 850px) {
  .item-veiculo {
    flex-direction: column;
    gap: 0px;
  }

  .info-veiculo {
    height: 200px;
    align-items: center;
  }
}

@media (max-width: 500px) {
  header {
    justify-content: space-between;
    transform: scaleX(2.1);
  }

  .item-lancamentos {
    border: 1px solid white;
    width: 55px;
  }

  .header-display-lancamentos {
    gap: 2px;
  }

  .header-container {
    gap: 20px;
  }

  .container-busca {
    min-height: 35px;
    flex-basis: 100%;
  }

  .header-container > #img-curva {
    background: url("../img/curve-mobile.svg") no-repeat center;
    height: 40px;
    width: 100%;
  }

  .container-busca > #button-buscar {
    width: 25px;
  }

  .header-container > #btn-open-modal-adicionar {
    margin-left: 0px;
    width: 25px;
  }

  .header-container > #btn-open-modal-adicionar {
    width: 30px;
    transition: none;
  }

  .modal {
    overflow-y: hidden;
    padding: 0px 10px;
  }

  .modal-content {
    padding: 16px 30px;
    margin: 15px 0px 0px 0px;
    width: 400px;
  }

  .close-button {
    top: -15px;
    right: 10px;
    width: 40px;
    height: 40px;
  }

  .content-upload-imagens {
    height: 130px;
  }

  .content-adicionar {
    flex-wrap: nowrap;
    max-height: fit-content;
    overflow: visible;
    gap: 0px;
  }

  .content-error-message > [class*="lbl-error-"] {
    position: relative;
    margin-top: 0px;
    width: auto;
  }

  .content-adicionar > .item > label,
  .item > .row > label {
    flex-basis: 100%;
  }

  .content-adicionar > .item > label {
    flex-grow: 1;
  }

  .content-adicionar > .item > textarea {
    min-height: 70px;
  }

  .content-adicionar-footer {
    min-height: 25px;
  }

  #modal-btn-salvar {
    top: -15px;
    right: -20px;
    width: 55px;
    height: 55px;
  }

  .slider-outer {
    height: 150px;
  }

  .container-veiculos {
    margin: 15px 0px 0px 0px;
  }

  .item-veiculo > img {
    width: 190px;
    height: 190px;
  }

  .item-veiculo {
    min-width: 300px;
  }

  .info-veiculo > button {
    margin: 25px 0px;
    font-size: 16px;
  }

  .container-paginacao {
    margin: 0px 0px 30px 0px;
  }

  .container-paginacao > label {
    margin: 0px 10px;
    width: 50px;
    height: 50px;
  }
}
